@media screen and (max-width: 376px) {
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0;
  }
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input ::placeholder {
    padding: 0;
  }
  .css-cpgvjg-MuiSnackbar-root {
    height: 20px;
    padding: 0;
    margin: 0;
  }
}
